<section id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <%= image_tag "jvaz_logo.jpg", width: 200, class: "text-primary" %>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <h5 class="text-muted">
                    Address
                </h5>
                <p class="text-muted">
                    3113 E Lincoln Dr
                    <br>Phoenix, AZ 85016
                </p>
            </div>
            <div class="col-12 col-md-3">
                <h5 class="text-muted">
                    Contacts
                </h5>
                <p class="text-muted">
                    Email: juliavalentine@azmoves.com
                    <br>Phone: 602 (515-9287)
                </p>
            </div>
            <div class="col-12 col-md-3">
                <h5 class="text-muted">
                    Links:
                    <br><br><%= link_to "Julia-coldwellbanker.com", "https://www.coldwellbanker.com/Residential-Brokerage_Administration-12609c/Julia-Valentine-498415a" %>
                    <br><br><%= link_to "coldwellbankerhomes.com", "https://www.coldwellbankerhomes.com/az/phoenix/agent/astria-julia-valentine/aid_43887/" %>
                    <br><br><%= link_to "http://juliavalentine.cbintouch.com/", "http://juliavalentine.cbintouch.com/" %>
                    <br><br><%= link_to "Tabitha-coldwellbanker.com", "https://www.coldwellbanker.com/Residential-Brokerage_Administration-12609c/Tabitha-Valentine-498371a" %>
                    <br><br><%= link_to "coldwellbankerhomes.com", "https://www.coldwellbankerhomes.com/az/phoenix/agent/tabitha-valentine/aid_35493/" %>
                </h5>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 copyright">
                    <p class="text-muted">
                        © Copyright 2017 Mark Morales - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <ul class="list-inline list-social">
                            <li class="list-inline-item social-twitter">
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>        
                            </li>
                            <li class="list-inline-item social-facebook">
                                <a href="#">    
                                    <i class="fa fa-facebook" aria-hidden="true"</i>
                                </a>        
                            </li>
                            <li class="list-inline-item social-instagram">
                                <a href="#">    
                                    <i class="fa fa-instagram" aria-hidden="true"</i>
                                </a>        
                            </li>
                            <li class="list-inline-item social-yelp">
                                <a href="#">    
                                    <i class="fa fa-yelp" aria-hidden="true"</i>
                                </a>        
                            </li>
                            <li class="list-inline-item social-linkedin">
                                <a href="#">    
                                    <i class="fa fa-linkedin" aria-hidden="true"</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>