<main>
    
    <section id="slide-1" class="homeSlide">
        <div class="bcg"
            data-center="background-position: 50% 0px;"
            data-top-bottom="background-position: 50% -100px;"
            data-anchor-target="#slide-1"
        >
            <div class="hsContainer">
                <div class="hsContent"
                    data-center="bottom: 200px; opacity: 1"
                    data-top="bottom: 1200px; opacity: 0"
                    data-anchor-target="#slide-1 h2"
                >
                    <h2>Julia Valentine Arizona Properties</h2>
                </div>
            </div>
        </div>
    </section>
    
    <section id="slide-2" class="homeSlide">
        <div class="bcg"
            data-center="background-position: 50% 0px;"
            data-top-bottom="background-position: 50% -100px;"
            data-bottom-top="background-position: 50% 100px;"
            data-anchor-target="#slide-2"
        >
            <div class="hsContainer">
                <div class="hsContent"
                    data-center="opacity: 1"
                    data-center-top="opacity: 0"
                    data--100-bottom="opacity: 0;"
                    data-anchor-target="#slide-2"
                >
                    <h2>We're not selling houses, we're selling <i>Happiness</i></h2>
                </div>
            </div>
        </div>
    </section>
    
    <section id="slide-3"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-bottom-top="background-position: 50% 100px;"
    >
        <div class="inner">
            <div class="content">
                <section id="about" class="bg-light">
                    <div class="container ">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h3>The Team</h3>
                                <hr class="small">
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portfolio-item">
                                            <a href="https://www.coldwellbankerhomes.com/az/phoenix/agent/astria-julia-valentine/aid_43887/">
                                                <%= image_tag "julia.jpg", width: 200, class: "rounded-circle" %>
                                            </a>
                                            <h3 class="about-item"><%= link_to "Julia Valentine", "https://www.coldwellbankerhomes.com/az/phoenix/agent/astria-julia-valentine/aid_43887/" %></h3>
                                            <ul class="list-inline list-social">
                                                <li>
                                                    <a href="https://www.linkedin.com/in/mark-morales-132961138/">
                                                        <i><%=fa_icon "linkedin" %></i>
                                                    </a>
                                                <li class="">
                                                    <a href="#">    
                                                        <i><%= fa_icon "facebook" %></i>
                                                    </a>        
                                                </li>
                                                <li class="">
                                                    <a href="#">    
                                                        <i><%=fa_icon "instagram" %></i>
                                                    </a>        
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="portfolio-item">
                                            <a href="https://www.coldwellbankerhomes.com/az/phoenix/agent/tabitha-valentine/aid_35493/">
                                                <%= image_tag "tabitha.jpg", width: 210, class: "rounded-circle" %>
                                            </a>
                                            <h3 class="about-item"><%= link_to "Tabitha Valentine Morales", "https://www.coldwellbankerhomes.com/az/phoenix/agent/tabitha-valentine/aid_35493/" %></h3>
                                            <ul class="list-inline list-social">
                                                <li>
                                                    <a href="https://www.linkedin.com/in/mark-morales-132961138/">
                                                        <i><%=fa_icon "linkedin" %></i>
                                                    </a>
                                                <li class="">
                                                    <a href="#">    
                                                        <i><%= fa_icon "facebook" %></i>
                                                    </a>        
                                                </li>
                                                <li class="">
                                                    <a href="#">    
                                                        <i><%=fa_icon "instagram" %></i>
                                                    </a>        
                                                </li>
                                            </ul>
                                            <br><p>We are Julia A. Valentine and Tabitha Valentine Morales, a Coldwell Banker Residential Realty team located in choice Fountain Hills, AZ (#fabfountainhills).
                                            After years of living abroad, including Europe, Australia, Costa Rica and Panama, we made Arizona our home in 2005.We know why Phoenix was voted the 2015 # 1 retirement location in America ! "Good weather and a high well-being score" is just part of the story. 
                                            Come see why people of all ages find the Arizona lifestyle irresistible!</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.col-lg-10 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </section>
            </div>
        </div>
    </section>
    
    <section id="slide-4" class="homeSlide">
        <div class="bcg"
            data-center="background-position: 50% 0px;"
            data-top-bottom="background-position: 50% -100px;"
            data-bottom-top="background-position: 50% 100px;"
            data-anchor-target="#slide-4"
        >
            <div class="hsContainer">
                <div class="hsContent"
                    data-bottom-top="opacity: 0"
                    data-25p-top="opacity: 0"
                    data-top="opacity: 1"
                    data-anchor-target="#slide-4"
                >
                    <h2>Contact Us!</h2>
                </div>
            </div>
        </div>
    </section>
</main>






