<main>
    <a id="menu-toggle" href="#" class="btn btn-light btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-left toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#slide-1" onclick = $("#menu-close").click(); >Back to top</a>
            </li>
            <li>
                <a href="#slide-4" onclick = $("#menu-close").click(); >The Team</a>
            </li>
            <li>
                <a href="#slide-6" onclick = $("#menu-close").click(); >About us</a>
            </li>        
            <li>
                <a href="#slide-7" onclick = $("#menu-close").click(); >Leave a message!</a>
            </li>
            <li>
                <a href="#slide-8" onclick = $("#menu-close").click(); >Contact us</a>
            </li>
        </ul>
    </nav>
      
    <div class="container header-title">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-content">
            <div class="header-content-inner">
              <div class="container header-title">
                <div class="row justify-content-center">
                  <h1 class="text-center text-header">Julia Valentine Arizona Properties</h1>
                  <br>
                  <p><%= image_tag "logo-full.png", width: 100, class: "text-right-cb" %><p></p>
                  <br>
                  <p><%= image_tag "equal-housing-op-logo.jpg", width: 80, class: "text-right-eh" %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="slide-1" class="homeSlide">
        <div class="bcg"
            data-center="background-position: 50% 0px;"
            data-top-bottom="background-position: 50% -100px;"
            data-anchor-target="#slide-1"
        >
            <div class="hsContainer">
                <div class="hsContent"
                    data-center="opacity: 1"
                    data-106-top="opacity: 0"
                    data-anchor-target="#slide-1 h2"
                >
                    <h2>602-515-9289</h2>
                </div>
            </div>
        </div>
    </section>
    
    <section id="slide-2"
      data-center="background-position: 50% 0px;"
      data-top-bottom="background-position: 50% -100px;"
      data-bottom-top="background-position: 50% 100px;"
      
    >
        <div class="inner">
            <div class="content">
                <div class="row text-vertical-center">
                    <div class="col-sm-12">
                        <div class="col-xs-6 float-sm-left">
                            <h2><b>Thinking about taking<br>the leap to Arizona?</b><br></h2>
                        </div>
                        <div class="col-xs-6 float-sm-right">
                            <p class="number"></p>
                        </div>
                        <div class="col-xs-6 float-sm-left">
                            <p>Let us help you find the best location. 
                            From trendy to quaint, there's a neighborhood for you<br>to settle down in and kick off your shoes. 
                            Where will you be this time next year if you don't take the first step?<br></p>
                        </div>
                        <div class="col-xs-6 float-sm-right">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="slide-3" class="homeSlide">
        <div class="bcg"
            data-center="background-position: 0px 50%;"
            data-bottom-top="background-position: 0px 40%;"
            data-top-bottom="background-position: -40px 50%;"
            data-anchor-target="#slide-3"
        >
            <div class="hsContainer">
                <div class="hsContent">
                    <div class="plaxEl"
                        data-106-top="opacity: 0"
                        data--200-bottom="opacity: 0"
                        data--30p-top="opacity: 1;"
                        data--60-top="opacity: 0;"
                        data-bottom="opacity: 0; position: fixed; top: 310px; width: 100%; left: 10px;"
                        data-anchor-target="#slide-3"
                    >
                        <h3>We're not selling houses,</h3>
                        <h2><span class="bgBlack">we're selling <i>Happiness</i></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="slide-4"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-bottom-top="background-position: 50% 100px;"
    >
        <div class="inner">
            <div class="content">
                <h2 class="text-sm-center">The Team</h2>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="col-sm-6 float-sm-left">
                        <div class="portfolio-item">
                            <a href="https://www.coldwellbankerhomes.com/az/phoenix/agent/astria-julia-valentine/aid_43887/">
                                <%= image_tag "julia.jpg", width: 135, class: "rounded-circle" %>
                            </a>
                            <br>
                            <h3 class="about-item"><%= link_to "Julia Valentine", "https://www.coldwellbankerhomes.com/az/phoenix/agent/astria-julia-valentine/aid_43887/" %></h3>
                            <ul class="list-inline list-social">
                                <li>
                                    <a href="https://www.linkedin.com/in/mark-morales-132961138/">
                                        <i><%=fa_icon "linkedin" %></i>
                                    </a>
                                <li class="">
                                    <a href="#">    
                                        <i><%= fa_icon "facebook" %></i>
                                    </a>        
                                </li>
                                <li class="">
                                    <a href="#">    
                                        <i><%=fa_icon "instagram" %></i>
                                    </a>        
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 float-sm-right">
                        <div class="portfolio-item">
                            <a href="https://www.coldwellbankerhomes.com/az/phoenix/agent/tabitha-valentine/aid_35493/">
                                <%= image_tag "tabitha.jpg", width: 100, class: "rounded-circle" %>
                            </a>
                            <br>
                            <h3 class="about-item"><%= link_to "Tabitha Valentine Morales", "https://www.coldwellbankerhomes.com/az/phoenix/agent/tabitha-valentine/aid_35493/" %></h3>
                            <ul class="list-inline list-social">
                                <li>
                                    <a href="https://www.linkedin.com/in/mark-morales-132961138/">
                                        <i><%=fa_icon "linkedin" %></i>
                                    </a>
                                <li class="">
                                    <a href="#">
                                        <i><%= fa_icon "facebook" %></i>
                                    </a>        
                                </li>
                                <li class="">
                                    <a href="#">    
                                        <i><%=fa_icon "instagram" %></i>
                                    </a>        
                                </li>
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="slide-5" class="homeSlide">
        <div class="bcg"
            data-center="background-position: 50% 0px;"
            data-bottom-top="background-position: 50% 100px;"
            data-top-bottom="background-position: 50% -100px;"
            data-anchor-target="#slide-5"
        >
            <div class="curtainContainer">
                
                <div class="copy" 
                    data-bottom-top="opacity: 0" 
                    data--100-bottom="opacity: 0"
                    data--280-bottom="opacity: 1;"
                    data-280-top="opacity: 1;"
                    data-106-top="opacity: 0;"
                    data-anchor-target="#slide-5 .copy"
                >
                    <h2>Experience Fountain Hills</h2>

                </div>
              </div>
            </div>   
        </div>        
    </section>            

    <section id="slide-6"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-bottom-top="background-position: 50% 100px;"
    >
        
        <div class="inner">
            <div class="content">
                <div class="row text-vertical-center">
                    <div class="col-sm-12">
                        <div class="col-xs-6 float-sm-left">
                            <h2><b>A little about us...</b><br></h2>
                        </div>
                        <div class="col-xs-6 float-sm-right">
                            <p class="number"></p>
                        </div>
                        <div class="col-xs-6 float-sm-left">
                            <p>We are Julia A. Valentine and Tabitha Valentine Morales, 
                             a Coldwell Banker Residential Realty team located in choice Fountain Hills, AZ (#fabfountainhills).
                             After years of living abroad, including Europe, Australia, Costa Rica and Panama, we made Arizona our home in 2005.</p>
                        </div>
                        <div class="col-xs-6 float-sm-right">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="slide-7"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-bottom-top="background-position: 50% 100px;"
    >
        <div class="inner">
            <div class="content">
                <%= render :file => 'contacts/new' %>

                <div id="contact" class="map">
                    <iframe width="100%" height="100%" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3325.881822184333!2d-112.
                          0163986495357!3d33.53045808065653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
                          1!3m3!1m2!1s0x872b0d30708d9225%3A0xb74a78d1eff0a7b6!2s3113+E+Lincoln+Dr%2C+Phoenix%2C+AZ+85016!5e0!3m2!1sen
                          !2sus!4v1490325426637"</iframe>
                    <br />
                    <small>
                        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3325.881822184333!2d-112.
                          0163986495357!3d33.53045808065653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
                          1!3m3!1m2!1s0x872b0d30708d9225%3A0xb74a78d1eff0a7b6!2s3113+E+Lincoln+Dr%2C+Phoenix%2C+AZ+85016!5e0!3m2!1sen
                          !2sus!4v1490325426637"></a>
                    </small>
                    </iframe>
                </div>
            </div>
        </div>    
    </section>            
    
    <section id="slide-8"
      <div class="hsContainer">
        <div class="hsContent"
            data-100-bottom="opacity: 0;"
            data-bottom="opacity: 1;"
            data-anchor-target="#slide-5"
        >

            <section id="footer" class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <div class="media-wrap">
                                <%= image_tag "jvaz_logo.jpg", width: 200, class: "text-primary" %>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <h5 class="text-muted">
                                Address: <br><br>
                                3113 E Lincoln Dr
                                <br>Phoenix, AZ 85016
                            </h5>
                        </div>
                        <div class="col-12 col-sm-3">
                            <h5 class="text-muted">
                                Email: <br><br>
                                juliavalentine@azmoves.com
                                <br>Phone: 602 (515-9287)
                            </p>
                        </div>
                        <div class="col-12 col-sm-3">
                            <h5 class="text-muted">
                                Links:
                                <br><br><%= link_to "Julia-coldwellbanker.com", "https://www.coldwellbanker.com/Residential-Brokerage_Administration-12609c/Julia-Valentine-498415a" %>
                                <br><br><%= link_to "coldwellbankerhomes.com", "https://www.coldwellbankerhomes.com/az/phoenix/agent/astria-julia-valentine/aid_43887/" %>
                                <br><br><%= link_to "http://juliavalentine.cbintouch.com/", "http://juliavalentine.cbintouch.com/" %>
                                <br><br><%= link_to "Tabitha-coldwellbanker.com", "https://www.coldwellbanker.com/Residential-Brokerage_Administration-12609c/Tabitha-Valentine-498371a" %>
                                <br><br><%= link_to "coldwellbankerhomes.com", "https://www.coldwellbankerhomes.com/az/phoenix/agent/tabitha-valentine/aid_35493/" %>
                            </h5>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 copyright">
                                <p class="text-muted">
                                    © Copyright 2017 Mark Morales - All Rights Reserved
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <div class="container">
                                    <ul class="list-inline list-social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/mark-morales-132961138/">
                                                <i><%=fa_icon "linkedin" %></i>
                                            </a>
                                        <li class="">
                                            <a href="#">    
                                                <i><%= fa_icon "facebook" %></i>
                                            </a>        
                                        </li>
                                        <li class="">
                                            <a href="#">    
                                                <i><%=fa_icon "instagram" %></i>
                                            </a>        
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
      </div>
    </section>
</main>






