<!DOCTYPE html>
<html>
  <head>
    <title>Client Valentine</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'lib/modernizr' %>
    
    <link rel="stylesheet" href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"> 

    <%= csrf_meta_tags %>
  </head>

  <body>
    
    
    
    <%= yield %>
    

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
